$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

.barbershops {
    display: grid;
    @media (min-width: $mediaBp1Width) {
        grid: 1fr/ repeat(2, Minmax(0, 1fr));;
    }

    @media (max-width: $mediaMinWidth) {
        grid: repeat(2, Minmax(0, 1fr)) / 1fr;
    }
    justify-items:center;
    

    .card {
        display: flex;
        gap: 0.5rem;
        width: 85%;
        border: 1px solid black;
        border-radius: 0.5rem;
        margin: 1rem 0rem;
        
        transition: all 0.2s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.137);
        }

        img {
            cursor: pointer;
            width: 100%;
            
        }

        label {
            cursor: pointer;
        }
        p, h1 {
            margin: 0px 1rem;
        }
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
    }
    p {
        color: rgb(126, 126, 126);
        margin: 0;
    }
}

.locationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionAnnounce {
    margin: 0px;
}

.locationCounter {
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    margin: 1rem 0;
    h2 {
        margin: 0px;
    }
}